@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/SFPro/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/SFPro/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/SFPro/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
